@tailwind base;
@tailwind components;
@tailwind utilities;

/* .document {
  width: 800px; 
  height: 600px; 
  overflow-y: auto;
}

.page {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  overflow-y: auto;
} */

main .document {
  /* word-wrap: break-word; */
}

.page {
  /* display: flex; */
  /* align-items: flex-start; */
  /* padding: 20px; */
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  overflow-y: hidden;
  /* flex-direction: column; */
}
/* h1 {
  font-family: "Times New Roman", Times, serif;
} */
aside {
  /* display: flex; */
  height: auto;
  border: 1px solid red;
  /* overflow-y: hidden; */
}
main {
  height: auto;
  /* display: flex; */
  border: 1px solid blue;
  /* overflow-y: hidden; */
}

.no-break-inside {
  break-inside: "avoid";
}

.break-before {
  break-before: "always";
}
